body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #8C89AC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  background: #FDF7EB;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  flex-grow: 1;
  margin: 20px auto;
}

h1, h2 {
  text-align: center;
  color: #5A5678;
  margin-bottom: 1px;
}

h1 {
    font-size: 30px;
    margin-bottom: -15px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  margin-top: 4px;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #8C89AC;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: #8C89AC;
  border: none;
  color: white;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 5px 0 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5A5678;
}

.form-step {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
  background: #fdf7eb;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.form-step-active {
  display: block;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media(max-width: 600px) {
  .container {
    padding: 20px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
