footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #8C89AC;
    height: 150px;
    width: 100%;
}
    

.footer-content{
    background-color: #8C89AC;
    justify-content: center;
    text-align: center;
    box-shadow: none;
    border: none;
}


.footer-content p{
    font-size: 20px;
    color: #ffffff;
}

